<div class='container-main'>          
    <h1>Testing Heroku Auto-Updates</h1>
    <p>Find me in app/views/grants/index.html.erb</p>

    <!-- Accent-colored raised button with ripple -->
    <button>
    Button
    </button>

    <%#= javascript_pack_tag 'hello_react' %>
</div>