    <h1>Testing Heroku Auto-Updates</h1>
    <p>Find me in app/views/grants/index.html.erb</p>

    <% if !user_signed_in? %>
        <%= link_to "Sign in", new_user_session_path, class: "button" %>
    <% else %>
        <%= "Hello, #{current_user.name}!" if user_signed_in? %>
    <% end %>

    <%#= javascript_pack_tag 'hello_react' %>
