    <h1>Testing Heroku Auto-Updates</h1>
    <p>Find me in app/views/grants/index.html.erb</p>

    <%= "Hello, #{current_user.name}!" if user_signed_in? %>

    <div class="card">Some sample text in the card</div>

    <div class="button">Button</div>

    <%#= javascript_pack_tag 'hello_react' %>
