// Place all the styles related to the Grants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #cf102d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.5);
    padding: 0px 100px; 
    font-weight: bold;
} a {
    text-decoration:none;
    color: white;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
}

.notice {
    // width: 100px;
    background-color: seagreen;
}

.field input {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 1.5rem;
}

.card {
    padding: 50px;
    position: relative;
    background: #fafafa;
    // color: #5d5d5d;
    color: #4d525a;
    display: -ms-flexbox;
    display: flex;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    transition: box-shadow 0.6s;
    box-shadow: 0px 2px 5px #ccc;
} .login {
    display: flex;
    font-weight: 200;
    flex-direction: column;
    width: 400px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
} h2 {
    margin-bottom: 1.5rem;
}

.card:hover {
    box-shadow: 0px 8px 15px #ccc;
}

.button {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: steelblue;
    // color: white;
    // border-radius: 5px;
    // min-height: 45px;
    // width: 90px;
    // font-family: 'Inter', sans-serif;
    transition: background 0.4s,border 0.4s,color 0.4s;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 34px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
}